modules/cbMap/XSD_schemas/Condition Expression.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
       <xs:choice>
        <xs:element type="xs:string" name="expression" maxOccurs="1" minOccurs="0"/>
        <xs:element name="function" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
             <xs:choice maxOccurs="2" minOccurs="1">
              <xs:element type="xs:string" name="name"/>
              <xs:element name="parameters" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                  <xs:element type="xs:string" name="parameter" maxOccurs="unbounded" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
             </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="template" maxOccurs="1" minOccurs="0"/>
       </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>