modules/cbMap/XSD_schemas/Detail View Layout Mapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="blocks">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="block">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="label"/>
                    <xs:element type="xs:string" name="sequence"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="blockid"/>
                    <xs:element name="layout">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="row">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="column"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="loadfrom"/>
                    <xs:element type="xs:string" name="loadcode"/>
                    <xs:element type="xs:string" name="handler_path"/>
                    <xs:element type="xs:string" name="handler_class"/>
                    <xs:element type="xs:string" name="handler"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>