modules/cbMap/XSD_schemas/Duplicate Relations.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="relatedmodules">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="relatedmodule" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="module"/>
                    <xs:element type="xs:string" name="relation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="DuplicateDirectRelations"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>