modules/cbMap/XSD_schemas/FieldDependency.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element name="targetmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="targetid"/>
              <xs:element type="xs:string" name="targetname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="originmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="originid"/>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fields">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Orgfields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Responsiblefield">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="fieldname"/>
                                <xs:element type="xs:string" name="fieldvalue"/>
                                <xs:element type="xs:string" name="comparison"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Orgfield">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="fieldname"/>
                                <xs:element type="xs:string" name="fieldaction"/>
                                <xs:element type="xs:string" name="fieldvalue"/>
                                <xs:element type="xs:string" name="mandatory"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ResponsibleMode">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="values"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ResponsibleRole">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="values"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Picklist">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="fieldname"/>
                                <xs:element type="xs:string" name="values" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

