modules/cbMap/XSD_schemas/FieldInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fields">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fieldname"/>
                    <xs:element name="features">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feature" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="name"/>
                                <xs:choice maxOccurs="1" minOccurs="1">
                                <xs:element type="xs:string" name="value"/>
                                <xs:element name="values">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="value" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="module" maxOccurs="1" minOccurs="0"/>
                                            <xs:element type="xs:string" name="value" maxOccurs="1" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>