modules/cbMap/XSD_schemas/FieldDependency.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="blocktriggerfields" minOccurs="0"/>
        <xs:element name="dependencies">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dependency" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="condition" minOccurs="0"/>
                    <xs:element name="actions" minOccurs="1">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                          <xs:element name="setoptions" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="1"/>
                                <xs:element type="xs:string" name="option" minOccurs="1"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                           <xs:element name="deloptions" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="1"/>
                                <xs:element type="xs:string" name="option" maxOccurs="unbounded" minOccurs="1"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="change" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="1"/>
                                <xs:element type="xs:string" name="value"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="hide" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="readonly" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="editable" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="collapse" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="block"  minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="show" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="block" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                           <xs:element name="function" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="1"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element name="parameters" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="parameter" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element> 
                          <xs:element name="disappear" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="block" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>   
                           <xs:element name="appear" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="block" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element> 
                           <xs:element name="open" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="block" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="setclass" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="field" minOccurs="1" maxOccurs="unbounded"/>
                                <xs:element type="xs:string" name="fieldclass" minOccurs="1" maxOccurs="unbounded"/>
                                <xs:element type="xs:string" name="labelclass" minOccurs="1" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element> 
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>