modules/cbMap/XSD_schemas/GlobalSearchAutocomplete.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="mincharstosearch"/>
        <xs:element type="xs:byte" name="maxresults"/>
        <xs:element name="searchin">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="module">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="searchfields"/>
                    <xs:element type="xs:string" name="searchcondition"/>
                    <xs:element type="xs:string" name="showfields"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>