modules/cbMap/XSD_schemas/Import.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element type="xs:string" name="mapname" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="delimiter" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="workflow" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="workflowid" minOccurs="0" maxOccurs="1"/>
        <xs:element name="duplicates" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="handling"/>
              <xs:element name="fields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="skipcreate" minOccurs="0" maxOccurs="1"/>
              <xs:element type="xs:string" name="importmergecondition" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="targetmodule" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="targetname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fields" minOccurs="0" maxOccurs="1">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="field" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fieldname"/>
                    <xs:element type="xs:string" name="fieldID"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="predefined"/>
                    <xs:element name="Orgfields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Relfield">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="RelfieldName"/>
                                <xs:element type="xs:string" name="RelModule"/>
                                <xs:element type="xs:string" name="linkfield"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="matches" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="match" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fieldname"/>
                    <xs:element type="xs:string" name="fieldID"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="predefined"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="options" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="update"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>