modules/cbMap/XSD_schemas/Import.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="targetmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="targetname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fields">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fieldname"/>
                    <xs:element type="xs:string" name="fieldID"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="predefined"/>
                    <xs:element name="Orgfields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Relfield">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="RelfieldName"/>
                                <xs:element type="xs:string" name="RelModule"/>
                                <xs:element type="xs:string" name="linkfield"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="matches">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="match">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="fieldname"/>
                    <xs:element type="xs:string" name="fieldID"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="predefined"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="options">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="update"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>