modules/cbMap/XSD_schemas/Kanban.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="module" maxOccurs="1" minOccurs="1"/>
        <xs:element type="xs:string" name="lanefield" maxOccurs="1" minOccurs="1"/>
        <xs:element type="xs:string" name="showsearch"/>
        <xs:element type="xs:string" name="showfilter"/>
        <xs:element type="xs:string" name="applyfilter"/>
        <xs:element type="xs:string" name="pagesize"/>
        <xs:element name="lanes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lane">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="sequence"/>
                    <xs:element name="image">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="library"/>
                          <xs:element type="xs:string" name="icon"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="color"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="card">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="showfields">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="field" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="morefields">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="field" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>