modules/cbMap/XSD_schemas/ListColumns.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="originid" minOccurs="0"/>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="relatedlists" minOccurs="0" maxOccurs="1">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="relatedlist" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="module"/>
                    <xs:element type="xs:string" name="linkfield" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="columns">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="field" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="label" minOccurs="0"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="table" minOccurs="0"/>
                                <xs:element type="xs:string" name="columnname" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="popup" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="linkfield"/>
              <xs:element name="columns">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="field" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:string" name="label" minOccurs="0"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="table" minOccurs="0"/>
                          <xs:element type="xs:string" name="columnname" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>