modules/cbMap/XSD_schemas/Mapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="targetmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="targetname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fields">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="fieldname" minOccurs="0"/>
                    <xs:element name="Orgfields" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="Orgfield" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="OrgfieldName"/>
                                <xs:element type="xs:string" name="OrgfieldID"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="delimiter" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="master" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>