modules/cbMap/XSD_schemas/Pivot.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="module"/>
        <xs:element type="xs:string" name="filter"/>
        <xs:element type="xs:string" name="aggregate"/>
        <xs:element type="xs:string" name="aggregatorName"/>
        <xs:element type="xs:string" name="rendererName"/>
        <xs:element name="aggrgations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="aggregation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="aggType"/>
                    <xs:element type="xs:string" name="arguments"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="rows">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="label"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cols">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="col" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="label"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>