modules/cbMap/XSD_schemas/PopupFilter.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="modulename"/>
        <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="fieldname"/>
              <xs:element name="dependency" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="modulename"/>
                    <xs:element type="xs:string" name="advft_criteria"/>
                    <xs:element type="xs:string" name="advft_criteria_groups"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="modulename" minOccurs="0"/>
              <xs:element type="xs:string" name="advft_criteria" minOccurs="0"/>
              <xs:element type="xs:string" name="advft_criteria_groups" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>