modules/cbMap/XSD_schemas/Record Access Control.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="originid"/>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="listview">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="c"/>
              <xs:element type="xs:byte" name="r"/>
              <xs:element type="xs:byte" name="u"/>
              <xs:element type="xs:byte" name="d"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="detailview">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="c"/>
              <xs:element type="xs:byte" name="r"/>
              <xs:element type="xs:byte" name="u"/>
              <xs:element type="xs:byte" name="d"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="relatedlists">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="relatedlist">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="modulename"/>
                    <xs:element type="xs:byte" name="c"/>
                    <xs:element type="xs:byte" name="r"/>
                    <xs:element type="xs:byte" name="u"/>
                    <xs:element type="xs:byte" name="d"/>
                    <xs:element type="xs:byte" name="s"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>