modules/cbMap/XSD_schemas/Record Access Control.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="originid" minOccurs="0"/>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="listview" minOccurs="0" maxOccurs="1">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:choice maxOccurs="4" minOccurs="1">
                <xs:element type="xs:byte" name="c"/>
                <xs:element type="xs:byte" name="r"/>
                <xs:element type="xs:byte" name="u"/>
                <xs:element type="xs:byte" name="d"/>
              </xs:choice>
              <xs:element name="condition" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="businessrule"/>
                    <xs:choice maxOccurs="5" minOccurs="1">
                    <xs:element type="xs:byte" name="c"/>
                    <xs:element type="xs:byte" name="r"/>
                    <xs:element type="xs:byte" name="u"/>
                    <xs:element type="xs:byte" name="d"/>
                    <xs:element type="xs:byte" name="s"/>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element> 
        <xs:element name="detailview" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
            <xs:element type="xs:string" name="modulename" minOccurs="0"/>
            <xs:choice maxOccurs="4" minOccurs="1">
              <xs:element type="xs:byte" name="c"/>
              <xs:element type="xs:byte" name="r"/>
              <xs:element type="xs:byte" name="u"/>
              <xs:element type="xs:byte" name="d"/>
              </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="relatedlists" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="relatedlist" maxOccurs="unbounded" minOccurs="1" >
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="modulename"/>
                    <xs:choice maxOccurs="5" minOccurs="1">
                    <xs:element type="xs:byte" name="c"/>
                    <xs:element type="xs:byte" name="r"/>
                    <xs:element type="xs:byte" name="u"/>
                    <xs:element type="xs:byte" name="d"/>
                    <xs:element type="xs:byte" name="s"/>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>