modules/cbMap/XSD_schemas/Record Set Mapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="records">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="record">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element type="xs:string" name="module"/>
                    <xs:element type="xs:string" name="value"/>
                    <xs:element type="xs:string" name="action"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>