modules/cbMap/XSD_schemas/RelatedPanes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="panes">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="pane" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="label"/>
                    <xs:element type="xs:string" name="sequence"/>
                    <xs:choice maxOccurs="1" minOccurs="1">
                    <xs:element type="xs:string" name="defaultMoreInformation"/>
                    <xs:element name="blocks">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="block" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="label"/>
                                <xs:element type="xs:byte" name="sequence"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="loadfrom"/>
                                <xs:element type="xs:string" name="loadphp" minOccurs="0"/>
                                <xs:element type="xs:string" name="handler_path" minOccurs="0"/>
                                <xs:element type="xs:string" name="handler_class" minOccurs="0"/>
                                <xs:element type="xs:string" name="handler" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>