modules/cbMap/XSD_schemas/Validations.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="originmodule">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element type="xs:byte" name="originid" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="originname"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fields">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="field" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="fieldname" minOccurs="1"/>
                    <xs:element type="xs:short" name="fieldID" minOccurs="0"/>
                    <xs:element name="validations" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="validation" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="rule"/>
                                <xs:element name="restrictions" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="restriction" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="parameters" maxOccurs="1" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="parameter" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="name"/>
                                            <xs:element type="xs:string" name="value"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="message" maxOccurs="1" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>