modules/cbMap/XSD_schemas/Wizard.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title" maxOccurs="1" minOccurs="0"/>
        <xs:element name="steps" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="step" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="title" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:byte" name="sequence" maxOccurs="1" minOccurs="1"/>
                    <xs:element type="xs:string" name="detailviewlayoutmap" maxOccurs="1" minOccurs="1"/>
                    <xs:element name="validations">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="validation" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="validationmap" maxOccurs="1" minOccurs="1"/>
                                <xs:element name="positiveactions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="action" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="negativeactions">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="action" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>