modules/cbupdater/cbupdater.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="updatesChangeLog">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="changeSet" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="author" maxOccurs="1" minOccurs="0" />
							<xs:element type="xs:string" name="description" maxOccurs="1" minOccurs="0" />
							<xs:element name="filename" maxOccurs="1" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="classname" maxOccurs="1" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:boolean" name="systemupdate" maxOccurs="1" minOccurs="0" />
							<xs:element type="xs:boolean" name="perspective" maxOccurs="1" minOccurs="0" />
							<xs:element type="xs:boolean" name="continuous" maxOccurs="1" minOccurs="0" />
							<xs:element type="xs:boolean" name="blocked" maxOccurs="1" minOccurs="0" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
